@import _colors

#container
  color: $white
  background: $black
  margin: 200px auto
  margin-bottom: 20px
  padding: 100px
  min-height: 150px

#containerTwiter
  color: $white
  background: $black
  padding: 10px

button
  margin-top: 40px
  background-color: $white
  color: $black
  &:hover
    color: $black !important
    background-color: $silver

h4
  font-size: 24px
  text-align: right
  font-family: "Kaushan Script"
